@model List<OnlineStore.Model.ViewModel.CMSNewsView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTy.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/Admin/Home/NewLayout"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Danh Sách Sản Phẩm</a>
                                </li>
                            </ul>
                            <div style="margin-left: 650px;">
                                @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="col-xs-12 col-sm-12">
                                <table id="table" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tiêu đề
                                            </th>
                                            <th>
                                                Tác giả
                                            </th>
                                            <th>
                                                Ngày đăng
                                            </th>
                                            <th style="width: 100px;">
                                                Trạng Thái
                                            </th>
                                            <th style="width: 100px;">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="row_@item.Id">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Authors)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                                </td>
                                                <td class="text-center">
                                                    <label class="label @(item.Status == (int)OnlineStore.Infractructure.Utility.Define.Status.Active ? "label-success" : "label-warning")">@(item.Status == (int)OnlineStore.Infractructure.Utility.Define.Status.Active ? "Hoạt Động" : "Khóa")</label>
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-primary icofont icofont-edit-alt" })
                                                    <a class="btn btn-warning btn-mini icofont icofont-trash btn-Delete" data-id="@item.Id"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="resultDelete" style="font-size:1.25em;">
                </div>

            </div>

            <div class="modal-footer">
                <div>
                    <form action="@Url.Action("Delete", "Admin/product/delete",new { area="Admin"})" method="get" id="frm-Delete">
                        <input id="hidenId"
                               type="hidden"
                               name="id"
                               value="0" />
                        <button type="submit" class="btn btn-primary" id="submitDelete">
                            <i class="icofont icofont-trash">Xóa</i>
                        </button>
                    </form>
                </div>

                <button type="button" class="btn btn-default btn-reload" data-dismiss="modal" id="dismisModal">
                    Thoát
                </button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Scripts/cms_news.js"></script>
    <script>
        var table = $("#table").DataTable({

            "searching": true,
            "ordering": true,
            dom: "Blfrtip",
            buttons: [
            {
                extend: "csv",
                className: "btn-sm",
                text: "Excel"
            },
            {
                extend: "pdf",
                className: "btn-sm"
            },
            ],
            "pagingType": "full_numbers",
            destroy: true,

            responsive: true,
            columnDefs: [

                { responsivePriority: 2, targets: -1 },
                 { responsivePriority: 3, targets: -2 },

            ],

            "language": {
                "lengthMenu": "Hiển Thị _MENU_ Bản Ghi Trên Trang",
                "search": "Tìm Kiếm:",
                "info": "Hiển Thị _START_ Tới _END_ Của _TOTAL_ Bản Ghi",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tới",
                    "previous": "Lui"
                },
                "zeroRecords": "Không Có Bản Ghi Nào Được Tìm Thấy",
                "infoEmpty": "Không Có Bản Ghi Nào Hiển Thị",
                "infoFiltered": "(Trong Tổng Cộng _MAX_ Bản Ghi)",
            },
        });
        $(document).ready(function () {
            $(".select2insidemodal").select2({
                dropdownParent: $("#modalAddUpdate")
            });
        });

    </script>
}

