
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTy.cshtml";
}
<div class="pcoded-inner-content">
    <div class="card">
        <div class="card-block">
            <h5>Danh Sách Thành Viên</h5>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Thành Viên</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Danh Sách</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-block">
                        <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="col-sm-12">
                                <div style="display:flex; justify-content:flex-end">
                                    <a  class="btn btn-info" href="@Url.Action("Register", "Account", new { area = "" })">Thêm Thành Viên</a>
                                </div>
                                    <hr />
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1" style="width:200px;">Email</th>
                                            <th>Quyền</th>
                                            <th>Xóa Thành Viên</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)

                                        {

                                            <tr>
                                                <td class="col-md-1" style="width:200px;">@item.Email</td>
                                                <td>
                                                    <a href="@Url.Action("EditRole", "User",new { Id = item.Id})">
                                                        <i class=" icofont icofont-edit-alt btn btn-grd-info"> </i>
                                                    </a>
                                                </td>
                                                @if (item.Email != "admin@nhandecor.net")
                                                {
                                                    <td>
                                                        <btn class="btn-Delete" data-id="@item.Id">
                                                            <i class="icofont icofont-trash btn btn-danger"> </i>
                                                        </btn>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td> <i class="btn btn-grd-primary icofont icofont-shield"> </i></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="resultDelete" style="font-size:1.25em;">
                </div>

            </div>

            <div class="modal-footer">
                <div>
                    <form action="@Url.Action("Delete", "Admin/product/delete",new { area="Admin"})" method="get" id="frm-Delete">
                        <input id="hidenId"
                               type="hidden"
                               name="Id"
                               value="0" />
                        <button type="submit" class="btn btn-primary" id="submitDelete">
                            <i class="icofont icofont-trash">Xóa</i>
                        </button>
                    </form>
                </div>

                <button type="button" class="btn btn-default btn-reload" data-dismiss="modal" id="dismisModal">
                    Thoát
                </button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Scripts/User.js"></script>
}

