@model List<OnlineStore.Model.ViewModel.CMSCategoryView>
@{
    ViewBag.Title = "NewLayout";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTy.cshtml";
}
<link href="~/Areas/Admin/Scripts/TreeTableCss.css" rel="stylesheet" />
<div class="pcoded-inner-content">
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <div class="card">
                    <div class="card-header">
                        <div class="row" style="display:flex; justify-content:space-between;">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/Admin/Home"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Danh Mục Tin Tức</a>
                                </li>
                            </ul>
                            <div>
                                @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-grd-info" })
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="col-xs-12 col-sm-12">
                                <table id="table" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tiêu đề
                                            </th>

                                            <th style="width: 100px;">
                                                Trạng Thái
                                            </th>
                                            <th style="width: 100px;"> Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr data-tt-id="@item.Id" data-tt-parent-id="@item.ParentId">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>

                                                <td>

                                                    @if (item.Status == 1)
                                                    {
                                                        <label class="label label-success">Hoạt Động</label>
                                                    }
                                                    @if (item.Status == 0)
                                                    {
                                                        <label class=" label label-warning">Khóa</label>
                                                    }
                                                    @if (item.Status == 4)
                                                    {
                                                        <label class=" label label-warning">Duyệt Xóa!</label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Id == 1 || item.Id == 5 || item.Id == 1020 || item.Id == 1021 || item.Id == 11 || item.Id == 12 || item.Id == 9)
                                                    {
                                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-grd-primary icofont icofont-edit-alt" })
                                                     }
                                                   else
                                                    {
                                                if (item.Status != 4)
                                                    {
                                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-grd-primary icofont icofont-edit-alt" })
                                                <a class="btn btn-grd-danger btn-mini icofont icofont-trash btn-Delete" data-id="@item.Id"></a>
                                                        }
                                                }
                                                    
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="resultDelete" style="font-size:1.25em;">
                </div>

            </div>

            <div class="modal-footer">
                <div>
                    <form action="@Url.Action("Delete", "Admin/product/delete",new { area="Admin"})" method="get" id="frm-Delete">
                        <input id="hidenId"
                               type="hidden"
                               name="id"
                               value="0" />
                        <button type="submit" class="btn btn-grd-info" id="submitDelete">
                            <i class="icofont icofont-trash">Xóa</i>
                        </button>
                    </form>
                </div>

                <button type="button" class="btn btn-default btn-reload" data-dismiss="modal" id="dismisModal">
                    Thoát
                </button>

            </div>
        </div>
    </div>
</div>
<!-- Page-body end -->
<script type="text/javascript">
        function BrowseServer() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById('coverImage').value = fileUrl;
        }
</script>
@section scripts{
    <script src="~/Areas/Admin/Scripts/cmsCategories.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery.treetable.js"></script>
    <script>
        //$('#table').DataTable();
        //var table = $("#table").DataTable({

        //    "searching": true,
        //    "ordering": true,
        //    dom: "Blfrtip",
        //    buttons: [
        //    {
        //        extend: "csv",
        //        className: "btn-sm",
        //        text: "Excel"
        //    },
        //    {
        //        extend: "pdf",
        //        className: "btn-sm"
        //    },
        //    ],
        //    "pagingType": "full_numbers",
        //    destroy: true,
        //    responsive: true,

     
        //    columnDefs: [

        //        { responsivePriority: 2, targets: -1 },
        //         { responsivePriority: 3, targets: -2 },

        //    ],

        //    "language": {
        //        "lengthMenu": "Hiển Thị _MENU_ Bản Ghi Trên Trang",
        //        "search": "Tìm Kiếm:",
        //        "info": "Hiển Thị _START_ Tới _END_ Của _TOTAL_ Bản Ghi",
        //        "paginate": {
        //            "first": "Đầu",
        //            "last": "Cuối",
        //            "next": "Tới",
        //            "previous": "Lui"
        //        },
        //        "zeroRecords": "Không Có Bản Ghi Nào Được Tìm Thấy",
        //        "infoEmpty": "Không Có Bản Ghi Nào Hiển Thị",
        //        "infoFiltered": "(Trong Tổng Cộng _MAX_ Bản Ghi)",
        //    },
        //});
        $(document).ready(function () {
            $("#table").treetable({ expandable: true }, "unloadBranch");
        });

    </script>
}


