@model OnlineStore.Model.MessageModel.CreateProductPostRequest
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTy.cshtml";
}


<div class="pcoded-inner-content">

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/Admin/Home"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Thêm Mới Sản Phẩm</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-block">
                        @using (Html.BeginForm("Create", "Product", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number", min = "0" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number", min = "0" } })
                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.DropDownList("BrandId", @ViewBag.BrandId as SelectList, "Chọn thương hiệu", htmlAttributes: new { @class = "form-control form-control-info" })
                                        @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Ảnh đại diện", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <input type="file" id="coverImage" name="coverImage" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Description2, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Description2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.IsNewProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <div class="checkbox-fade fade-in-success col-sm-2">
                                            <label>
                                                <input type="checkbox" value="true" name="IsNewProduct">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-success"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.IsBestSellProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <div class="checkbox-fade fade-in-success col-sm-2">
                                            <label>
                                                <input type="checkbox" value="true" name="IsBestSellProduct">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-success"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.SortOrder, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <select name="Status" class="form-control form-control-info">
                                            <option value="1">Hoạt Động</option>
                                            <option value="0">Khóa</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="display:flex; justify-content:center" class="col-sm-12">

                                        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-grd-inverse" })
                                        <input type="submit" value="Thêm" class="btn btn-primary" style="margin-left:10px" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*@section scripts{
    <script>
    $(document).ready(function () {
        // CKEditor
        CKEDITOR.replace('Description2');
    })
    </script>



}*@
@section scripts{
    <script type="text/javascript">
        function BrowseServer() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        //function SetFileField(fileUrl) {
        //    document.getElementById('ImageBanner').value = fileUrl;
        //}
    </script>
    <script>
    $(document).ready(function () {
        // CKEditor
        CKEDITOR.replace('Description2');
        CKFinder.setupCKEditor(null, '/Areas/Admin/Scripts/plugins/ckfinder');
    })
    </script>
}

