@model List<OnlineStore.Model.ViewModel.ProductSummaryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTy.cshtml";
}
<script src="~/Scripts/Admin/product-management.js"></script>
<div class="pcoded-inner-content">
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <div class="card">
                    <div class="card-header">
                        <div class="row" style="display:flex; justify-content:space-between;">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/Admin/Home"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Danh Sách Sản Phẩm</a>
                                </li>
                            </ul>
                            <div>
                                @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-grd-info" })
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="col-xs-12 col-sm-12">
                                <table id="table" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                Mã
                                            </th>
                                            <th>
                                                Tên
                                            </th>
                                            <th>
                                                Đơn Giá
                                            </th>
                                            <th>
                                                Ảnh
                                            </th>
                                            <th>
                                                Số Lượng
                                            </th>
                                            <th>Đã Bán</th>
                                            <th>
                                                Thứ Tự
                                            </th>
                                            <th>
                                                Trạng Thái
                                            </th>
                                            <th>Thao Tác</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PriceFormat)
                                                </td>
                                                <td>
                                                    @if (item.CoverImage != null)
                                                    {
                                                        <img src="@item.CoverImage.ImagePath" height="70" width="70" alt="ảnh không tồn tại" />
                                                    }
                                                </td>
                                                <td>@item.Quantity</td>
                                                <td>@item.TotalBuy</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SortOrder)
                                                </td>
                                                <td>
                                                    @if (item.Status == "Đang hoạt động")
    {
                                                <label class="label label-success">Hoạt Động</label>
}
                                                    @if (item.Status == "Ngưng hoạt động")
    {
                                                <label class=" label label-warning">Khóa</label>
}
                                                    @if (item.Status == "Duyệt xóa")
    {
                                                <label class=" label label-warning">Duyệt Xóa!</label>
}
                                                </td>
                                              
                                                <td class="center-text">
                                                    @if (item.Status != "Duyệt xóa")
    {
                                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-grd-primary btn-mini icofont icofont-edit-alt" })
                                                <a class="btn btn-grd-danger btn-mini icofont icofont-trash btn-Delete" data-id="@item.Id"></a>
                                                    }
                                                </td>
                                                

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="resultDelete" style="font-size:1.25em;">
                </div>

            </div>

            <div class="modal-footer">
                <div>
                    <form action="@Url.Action("Delete", "Admin/product/delete",new { area="Admin"})" method="get" id="frm-Delete">
                        <input id="hidenId"
                               type="hidden"
                               name="id"
                               value="0" />
                        <button type="submit" class="btn btn-primary" id="submitDelete">
                            <i class="icofont icofont-trash">Xóa</i>
                        </button>
                    </form>
                </div>

                <button type="button" class="btn btn-default btn-reload" data-dismiss="modal" id="dismisModal">
                    Thoát
                </button>

            </div>
        </div>
    </div>
</div>
<!-- Page-body end -->
<script type="text/javascript">
        function BrowseServer() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById('coverImage').value = fileUrl;
        }
</script>
@*<script id="data-template-Active" type="x-tmpl-mustache">
        <tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td><img src="{{image}}" style="width:60px;height:60px;" /></td>
            <td>{{price}}</td>
            <td>{{sortOrder}}</td>
            <td><label class="label label-success">Hoạt Động</label></td>
            <td>
                <button class="btn-primary btn-Edit" data-id="{{id}}"> <i class="icofont icofont-edit-alt"></i></button>
            </td>
            <td class="col-sm-1">
                <button class="btn-danger btn-Delete" data-id="{{id}}">
                    <i class="icofont icofont-trash"></i>
                </button>
            </td>

        </tr>
    </script>
    <script id="data-template-Locked" type="x-tmpl-mustache">
        <tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td><img src="{{image}}" style="width:60px;height:60px;" /></td>
            <td>{{price}}</td>
            <td>{{sortOrder}}</td>
            <td><label class=" label label-warning">Khóa</label></td>
            @Html.ActionLink(" ", "Edit", new { id =''}, new { @class = "btn btn-primary glyphicon glyphicon-edit" })
                <a class="btn btn-danger glyphicon glyphicon-trash" onclick="ProductManagement.deleteProduct(@item.Id, '@item.Name')"></a>
                <td>
                    <button class="btn-primary btn-Edit" data-id="{{id}}"> <i class="icofont icofont-edit-alt"></i></button>
                </td>
            <td class="col-sm-1">
                <button class="btn-danger btn-Delete" data-id="{{id}}">
                    <i class="icofont icofont-trash"></i>
                </button>
            </td>

        </tr>
    </script>*@

@section scripts{
    <script src="~/Scripts/Admin/product-management.js"></script>
    <script src="~/Areas/Admin/Scripts/products.js"></script>
    <script>
        var table = $("#table").DataTable({

            "searching": true,
            "ordering": true,
            dom: "Blfrtip",
            buttons: [
            {
                extend: "csv",
                className: "btn-sm",
                text: "Excel"
            },
            {
                extend: "pdf",
                className: "btn-sm"
            },
            ],
            "pagingType": "full_numbers",
            destroy: true,

            responsive: true,
            columnDefs: [

                { responsivePriority: 2, targets: -1 },
                 { responsivePriority: 3, targets: -2 },

            ],

            "language": {
                "lengthMenu": "Hiển Thị _MENU_ Bản Ghi Trên Trang",
                "search": "Tìm Kiếm:",
                "info": "Hiển Thị _START_ Tới _END_ Của _TOTAL_ Bản Ghi",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tới",
                    "previous": "Lui"
                },
                "zeroRecords": "Không Có Bản Ghi Nào Được Tìm Thấy",
                "infoEmpty": "Không Có Bản Ghi Nào Hiển Thị",
                "infoFiltered": "(Trong Tổng Cộng _MAX_ Bản Ghi)",
            },
        });
        $(document).ready(function () {
            $(".select2insidemodal").select2({
                dropdownParent: $("#modalAddUpdate")
            });
        });

    </script>
}



